/* My Styles */
@import url('css/styles.css');

body {
    background-image: url("akira-hojo-ZxGdri2EWzk-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    margin: 30px;
    
}

main {
    max-width: 20%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    margin: auto;
    border-radius: 15px;
}

h1 {
    font-family: 'Zodiak-Light';
    font-size: 48px;
    display: block;
    margin: auto;
}

a {
    display: block;
    margin: 7px auto;
}

img {
    display: block;
    width: 200px;
    margin: 15px auto;
}

