/* My Styles */
@import url('css\zodiak.css');

body {
    background-image: url("assets\background.jpg");
    background-size: cover;
    height: 100vh;
    
}

main {
    max-width: 75%;
    background-color: rgba(255, 255, 255, 0.5);
    
    border-radius: 15px;
}

h1 h2 {
    font-family: 'Zodiak-Light';
    font-size: 48px;
}

a {
    display: block;
}

img {
    display: block;
    height: 200px;
    margin: auto;
}

